.button {
  color: lime;
  padding: 5px;
  opacity: 40%;
}

.button-text {
  display: none;
  background-color: darkslategrey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  opacity: 75%;
}

.button:hover {
  opacity: 75%;
}

.button:hover .button-text {
  display: inline-block;
}

.button-container {
  position: absolute;
  left: 20px;
  top: 50px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  z-index: 3;
}
